<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Ingreso Destinos</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
	integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="/style.css">
</head>

<body>
	<div class="d-inline-block col-6 text-center">
		<nav class="navbar d-inline-block">
			<ul class="nav">
				<li class="nav-item "><a class="nav-link active "
					href="/pasajero/lista">Pasajeros</a></li>
				<li class="nav-item"><a class="nav-link active"
					href="/destino/lista">Destinos</a></li>
				<li class="nav-item"><a class="nav-link active"
					href="/pasajero/crear">Nuevo Pasajero</a></li>
				<li class="nav-item"><a class="nav-link active"
					href="/destino/crear">Nuevo Destino</a></li>
			</ul>
		</nav>
		<h1>Nuevo Destino</h1>
		<br>
		<form th:action="@{/destino/creado}" method="post"
			th:object="${destino}" class="text-center">
			<div class="col-10">
				<input class="form-control" required type="text" id="ciudad"
					placeholder="Ciudad" name="ciudad">
			</div>
			<div class="col-10">
				<input class="form-control" required type="text" id="pais"
					placeholder="Pais" name="pais">
			</div>
			<div class="col-10">
				<input class="form-control" required type="date" id="fecha"
					placeholder="Fecha" name="fecha">
			</div>
			<br> <br>
			<div>

				<div th:if="${pasajeros.isEmpty()}">
					<h5>
						<br>No se han ingresado Pasajeros<br>
						<br>
					</h5>
					<p>Debe registrar un pasajero antes de agregar Destinos</p>
				</div>

				<div th:unless="${pasajeros.isEmpty()}">
					<label>Pasajero</label> <select th:field="*{pasajero}">
						<option th:each="pasajero : ${pasajeros}"
							th:value="${pasajero.id}"
							th:text="${pasajero.nombre +' '+ pasajero.apellido}"></option>
					</select> 
					<br> 
					<br>
					<button type="submit" class="btn btn-success">Agregar Destino</button>
				</div>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
		integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
		crossorigin="anonymous"></script>
</body>
</html>