<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Lista Alumnos</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
	integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
	crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/style.css">
</head>

<body >
<div class="d-inline-block col-6 text-center">
<nav class="navbar d-inline-block">
	<ul class="nav">
		<li class="nav-item "><a class="nav-link active "
			href="/alumno/lista">Alumnos</a></li>
		<li class="nav-item"><a class="nav-link active"
			href="/direccion/lista">Direcciones</a></li>
		<li class="nav-item"><a class="nav-link active"
			href="/alumno/crear">Nuevo Alumno</a></li>
		<li class="nav-item"><a class="nav-link active"
			href="/direccion/crear">Nueva Dirección</a></li>
	</ul>
	</nav>
	<h1>Alumnos</h1>
	<br>
	<table class="table ">
		<thead class="thead-light">
			<tr>
				<th>RUT</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
				<th>Edad</th>
				<th>Fecha Ingreso</th>
				<th>Dirección</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="alumno: ${alumnos}">
				<td th:text="${alumno.rut}" />
				<td th:text="${alumno.nombre}" />
				<td th:text="${alumno.apellido}" />
				<td th:text="${alumno.email}" />
				<td th:text="${alumno.edad}" />
				<td th:text="${alumno.fechaIngreso}" />
				<td th:text="${alumno.direccion}" />
			</tr>
		</tbody>
	</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
		integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
		crossorigin="anonymous"></script>
</body>
</html>