<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Nah, ah, ah.</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>

<body>
<div style="padding-top: 25vh; width: 50vw; margin: auto;">
	<a th:href="@{/logout}">Log Out</a>
<fieldset>
	<h1>No, no, no. I Forbid you to.</h1>
	<p> You didn't say the magic word</p>
	<h4>Eres <a href="/admin" > Admin</a> o <a href="/cliente"> Cliente</a> ?</h4>
	<div>
</fieldset>
</body>
</html>